<div class="container-fluid bg_color1 text-center">
  <header>
    <h3 class="margin">Personal Biography</h3>
  </header>
</div>


<div class="container-fluid bg_color2">
  <figure class="text-center">
    <img src="assets/images/MyPic.JPG" width="304" height="236" class="img-responsive img-circle margin" style="display:inline">
  </figure>
  <section>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">

          <div class="panel-heading">
            <h3>Childhood:</h3>
          </div>

          <div class="panel-body">
            <p>
              Dhileepan Kruschev had a great childhood with so many good friends. He would spend more time with his friends and play. He
              is passionate about dance, cricket and wrestling. He also has interests in Bike riding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">

          <div class="panel-heading">
            <h3>IT Career:</h3>
          </div>

          <div class="panel-body">
            <p>
              Dhileepan Kruschev joined Cognizant in 2010 and has been a part of Cognizant since then. He had so much learning opportunities
              to upskill himself and excel in various areas. While in the training batch, he has done a mini project along
              with his batchmates and that was his first hands on on real programming, since he was from non IT background
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>