<div class="container-fluid bg_color1 text-center">
  <header>
    <h3 class="margin">Profile Highlights</h3>
  </header>
</div>

<div class="container-fluid bg_color2">
  <section>
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Completed OCJP External Certification in Java 6</li>
      <li class="list-group-item">Have Received 'Associate of the Month' award for August 2018</li>
      <li class="list-group-item">Have won 'Global Project of the Year' for the year 2015</li>
      <li class="list-group-item">Able to understand new ideas and technical concepts quickly, convert them into meaningful results.</li>
      <li class="list-group-item">Effective Time and Resource utilization</li>
    </ul>
  </section>
</div>