<div class="container-fluid bg_color1 text-center">
  <header>
    <h3 class="margin">Profile Details</h3>
  </header>
</div>

<div class="container-fluid bg_color2">
  <section>

    <br>
    <figure class="text-center">
      <img src="assets/images/MyPic.JPG" width="304" height="236" class="img-responsive img-circle margin" style="display:inline">
    </figure>

    <div class="row">
      <div class="col-md-3 cellhead">
        First Name:
      </div>
      <div class="col-md-3">
        Dhileepan
      </div>
      <div class="col-md-3 cellhead">
        Last Name:
      </div>
      <div class="col-md-3">
        Kruschev
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 cellhead">
        Age:
      </div>
      <div class="col-sm-3">
        30
      </div>
      <div class="col-sm-3 cellhead">
        Gender:
      </div>
      <div class="col-sm-3">
        Male
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 cellhead">
        Email:
      </div>
      <div class="col-sm-3">
        Dhileepan.Kruschev@Cognizant.com
      </div>
      <div class="col-sm-3 cellhead">
        Country:
      </div>
      <div class="col-sm-3">
        India
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 cellhead">
        City:
      </div>
      <div class="col-sm-3">
        Chennai
      </div>
      <div class="col-sm-3 cellhead">
        State:
      </div>
      <div class="col-sm-3">
        Tamilnadu
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 cellhead">
        Profession:
      </div>
      <div class="col-sm-3">
        IT
      </div>
      <div class="col-sm-3 cellhead">
        Designation:
      </div>
      <div class="col-sm-3">
        Senior Associate
      </div>
    </div>

  </section>
</div>